<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text utils</title>
</head>
<body>
    <h1 id="head">Enter your text:</h1>
    <form action="/result/" method="GET">
        <textarea name="text" cols="200" rows="20">
        </textarea>
        <br><input type="checkbox" name="puncResponse">Remove punctuations
        <br><input type="checkbox" name="capResponse">Remove caps
        <br><button type="submit">Submit</button>
    </form>
</body>
</html>